<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

    <log4net>
        <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender" xdt:Transform="Insert">
            <to value="sai@etcetera.ws" />
            <from value="logger@bewell-travel.com" />
            <subject value="Error occurred on bewell-travel.com" />
            <smtpHost value="etcetera.ws" />
            <bufferSize value="512" />
            <lossy value="true" />
            <evaluator type="log4net.Core.LevelEvaluator">
                <threshold value="ERROR"/>
            </evaluator>
            <authentication value="None" />
            <!--<username value="admin" />
            <password value="1" />-->
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%n%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
            </layout>
        </appender>
        <root>
            <appender-ref ref="SmtpAppender" xdt:Transform="Insert" />
        </root>
    </log4net>

    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <container>
            <register type="IConnectionFactory" mapTo="Apache.NMS.ActiveMQ.ConnectionFactory, Apache.NMS.ActiveMQ" xdt:Transform="Insert">
                <lifetime type="singleton" />
                <constructor>
                    <param name="brokerUri" type="System.String">
                        <value value="activemq:failover:tcp://localhost:61616?connection.AsyncSend=true"/>
                    </param>
                </constructor>
            </register>
            <register type="INotificationSender" mapTo="ActiveMQNotificationSender" xdt:Locator="Match(type)" xdt:Transform="Replace">
                <lifetime type="singleton" />
                <constructor>
                    <param name="connectionFactory">
                        <dependency/>
                    </param>
                </constructor>
                <property name="QueueName" value="notification.queue" />
            </register>
        </container>
    </unity>

    <connectionStrings configSource="cs.release.config" xdt:Transform="SetAttributes" />
	
	<appSettings>
		<add key="VKClientID" value="4076248"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="VKClientSecretCode" value="1xsv7ia8Zv1nJLoOIw7O"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="FBClientID" value="1441506562744873"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="FBClientSecretCode" value="4a876f92e04fb4e99d754054dc9332f6"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="OdClientID" value=""  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="OdClientSecretCode" value=""  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="GPClientID" value="652205989754-33jjscvsi4dkm1fv0bph61q1ifl38f2k.apps.googleusercontent.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="GPClientSecretCode" value="gcgFL-M7xJzfrE9uMd7ablfd"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="DomainName" value="bewell-travel.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
	
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>