<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <log4net>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="Logs/bewell.log" />
            <appendToFile value="true" />
            <rollingStyle value="Composite" />
            <maxSizeRollBackups value="14" />
            <maximumFileSize value="15000KB" />
            <datePattern value="yyyy.MM.dd" />
            <staticLogFileName value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%-5p %d %-22.22c{1} %-18.18M - %m%n" />
            </layout>
        </appender>
        <root>
            <level value="All" />
            <appender-ref ref="RollingFileAppender" />
            <appender-ref ref="SmtpAppender"/>
        </root>
        <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
            <to value="sai@etcetera.ws"/>
            <from value="logger@bewell-travel.com"/>
            <subject value="Error occurred on bewell-travel.com"/>
            <smtpHost value="etcetera.ws"/>
            <bufferSize value="512"/>
            <lossy value="true"/>
            <evaluator type="log4net.Core.LevelEvaluator">
                <threshold value="ERROR"/>
            </evaluator>
            <authentication value="None"/>
            <!--<username value="admin"/>
            <password value="1"/>-->
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%n%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline"/>
            </layout>
        </appender>
    </log4net>

    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <!-- Lifetime manager types -->
        <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
        <alias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
        <alias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />
        
        <alias alias="ITemplateProvider" type="Footboy.Shared.ITemplateProvider, Footboy.Shared" />
        <alias alias="AspxTemplateProvider" type="Footboy.Client.AspxTemplateProvider, Footboy.Client" />
        <alias alias="INotificationSender" type="Footboy.Shared.INotificationSender, Footboy.Shared" />
        <alias alias="ActiveMQNotificationSender" type="Footboy.Client.ActiveMQNotificationSender, Footboy.Client" />
        <alias alias="FileNotificationSender" type="Footboy.Client.FileNotificationSender, Footboy.Client" />
        <alias alias="IConnectionFactory" type="Apache.NMS.IConnectionFactory, Apache.NMS" />

        <alias alias="ThumbnailGenerator" type="meridian.bewell.impl.Images.ThumbnailGenerator, meridian.bewell" />
        <alias alias="NewsImageMarkupProcessorSettings" type="meridian.bewell.impl.Images.NewsImageMarkupProcessorSettings, meridian.bewell" />

        <container>
            <register type="ITemplateProvider" mapTo="AspxTemplateProvider">
                <lifetime type="singleton" />
                <property name="TemplatesVirtualPath" value="~/Views/Mail/" />
            </register>
            <register type="INotificationSender" mapTo="ActiveMQNotificationSender">
                <lifetime type="singleton"/>
                <constructor>
                    <param name="connectionFactory">
                        <dependency/>
                    </param>
                </constructor>
                <property name="QueueName" value="notification.queue"/>
            </register>
            <register type="ThumbnailGenerator" name="news">
                <property name="CommandString">
                    <value value="width=100&amp;height=88&amp;mode=crop&amp;anchor=middlecenter" />
                </property>
            </register>
            <register type="NewsImageMarkupProcessorSettings">
                <property name="ThumbnailGenerator">
                    <dependency name="news" />
                </property>
            </register>
            <register type="IConnectionFactory" mapTo="Apache.NMS.ActiveMQ.ConnectionFactory, Apache.NMS.ActiveMQ">
                <lifetime type="singleton"/>
                <constructor>
                    <param name="brokerUri" type="System.String">
                        <value value="activemq:failover:tcp://localhost:61616?connection.AsyncSend=true"/>
                    </param>
                </constructor>
            </register>
        </container>
    </unity>

    <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
      

      <add key="VKClientID" value="4076248" />
      <add key="VKClientSecretCode" value="1xsv7ia8Zv1nJLoOIw7O" />

      <add key="FBClientID" value="1441506562744873" />
      <add key="FBClientSecretCode" value="4a876f92e04fb4e99d754054dc9332f6" />

      <add key="OdClientID" value="" />
      <add key="OdClientSecretCode" value="" />

      <add key="GPClientID" value="652205989754-33jjscvsi4dkm1fv0bph61q1ifl38f2k.apps.googleusercontent.com" />
      <add key="GPClientSecretCode" value="gcgFL-M7xJzfrE9uMd7ablfd" />

      <add key="DomainName" value="bewell-travel.com"/>

      <add key="SphinxHost" value="de.zakon.etcetera.ws" />
      <add key="SphinxPort" value="9312" />
  </appSettings>

    <connectionStrings configSource="cs.release.config" />
  
    <system.web>
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
          <add namespace="Telerik.Web.Mvc" />
          <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>
    </pages>
        <httpHandlers>
            <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
        </httpHandlers>
        <httpRuntime maxRequestLength="1048576" requestValidationMode="2.0" />
    </system.web>

  <system.webServer>
      <security>
          <requestFiltering>
              <requestLimits maxAllowedContentLength="1073741824" />
          </requestFiltering>
      </security>
      <validation validateIntegratedModeConfiguration="false" />
      <modules runAllManagedModulesForAllRequests="true" />
      <handlers>
          <remove name="asset" />
          <add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
      </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
